mask path {
    fill: none;
    stroke: white;
    stroke-width: 32;
    stroke-dasharray: 370 370;
    stroke-dashoffset: 370;
    animation: brush 5s infinite;
}
@keyframes brush {
      0% { stroke-dashoffset: 370; }
     20% { stroke-dashoffset: 370; }
     80% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 0; }
}
